<div class="gallery" fxLayout="row" fxLayoutAign="center strech" fxLayoutGap="5px" (click)="isModalActive=!isModalActive">
  <div fxFlex="66">
    <img class="image" [src]="images[0]" alt="galleryIamge_1">
  </div>
  <div fxFlex fxLayout="column" fxLayoutAlign="start end" fxLayoutGap="5px">

    <div fxFlex="50">
      <img class="image" [src]="images[1]" alt="galleryIamge_2">
    </div>

    <div fxFlex fxLayout="column">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayoutAlign="start center">
          <img class="image img-small" [src]="images[2]" alt="galleryIamge_2">
        </div>
        <div fxLayoutAlign="end center">
          <img class="image img-small" [src]="images[3]" alt="galleryIamge_2">
        </div>
      </div>

      <div fxFlex fxLayout="row">
        <div fxLayoutAlign="start center">
          <img class="image img-small" [src]="images[4]" alt="galleryIamge_2">
        </div>
        <div fxLayoutAlign="end center">
          <img class="image img-small" [src]="images[5]" alt="galleryIamge_2">
        </div>
      </div>
    </div>

  </div>
</div>
<div class="gallery-tray" fxLayout="row" fxLayoutAlign="start center" fxFlexOffset="15px">
  <div (click)="isModalActive=!isModalActive" fxLayout="row" fxLayoutAlign="start center">
    <i class="material-icons photo-gallery-icon">photo_library</i>
  </div>
</div>

 <!-- Modal window -->
 <app-modal (closeModal)="modalClosed()" [dataToModal]="images" [modalActive]="isModalActive"></app-modal>
 