@import '../../shared/_colors';
header{
    background: $orange;
}
.desktop-nav{
    width: 90%;
    li{
        padding: 12px;
    }
}
.mobile-nav{
    width: 100%;
    /* intentionally 5% because it should be aligned with logo container is 90%, 5% from each side*/
    li{
        padding: 12px 5%;
    }
}
.logo{
    height: 32px;
    width: 90px;
}
ul{
    list-style: none;  
    padding: 0;
    margin: 0; 
}
.desktop-view{
    li{
        border-left: 1px solid $dark_orange;
    }        
    li:last-child{
        border-right: 1px solid $dark_orange;
    }
}
.mobile-view{
    li{
        border-top: 1px solid $dark_orange;
    }        
}
a{
    text-decoration: none;
    color: $white;
}
li:hover{
    background: $dark_orange;    
}
.menu-icon{
    padding: 0.9em;
    color: $white;
    cursor: pointer;
}

@media (min-width: 320px) {}

@media (min-width: 481px) {}

@media (min-width: 641px) {}

@media (min-width: 961px) {.desktop-nav{
    .desktop-nav{
        width: 80%;
            li{
                padding: 12px;
            }
        }        
    }
}   

@media (min-width: 1025px) {
    .desktop-nav{
        width: 70%;
            li{
                padding: 12px;
            }
    }        
}

@media (min-width: 1281px) {
    .desktop-nav{
        width: 70%;
            li{
                padding: 12px;
        }
    }        
}