@import '../../shared/_colors';
header{
    background: $orange;
}
nav{
    width: 90%;
}
.logo{
    height: 32px;
    width: 90px;
}
ul{
    list-style: none;  
    padding: 0;
    margin: 0; 
}
.desktop-view{
    li{
        border-left: 1px solid $dark_orange;
    }        
    li:last-child{
        border-right: 1px solid $dark_orange;
    }
}
.mobile-view{
    li{
        border-top: 1px solid $dark_orange;
    }        
}
li{
  a{
      text-decoration: none;
      color: $white;
  }
    padding: 12px;
}
li:hover{
    background: $dark_orange;    
}
.menu-icon{
    padding: 0.9em;
    color: $white;
    cursor: pointer;
}
