<header fxLayout="row" fxLayoutAlign="center">
    <nav role="navigation" fxLayout="row" fxLayoutAlign="space-between center">
        <img src="https://assets.fstatic.nl/master_1293/assets/components/logo/fundawonen-logo.svg" alt="funda-logo" class="logo">
        <ul fxLayout="row">
            <li><a href="#">Inloggen</a></li>
            <li><a href="#">Registreren</a></li>
        </ul>
    </nav>
</header>
<!-- Here is router outlet for rest of application -->
<router-outlet></router-outlet>
