@import '../../shared/_colors';

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    padding-top: 10px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: none;
    background-color: rgba(69, 69, 69, 0.85);
  }
  /* Modal Content */
  .modal-content {
    width: 85%;
    height: auto;
    background-color: $white;
    margin: auto;
    border: 1px solid #bcbcbc;
  }
  
  /* The Close Button */
  .close {
    color: #bcbcbc;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
