<div *ngIf="propertyDetails && !errorMessage">
  <!-- Image collage for desktop view -->
  <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center"> 
      <app-details-header fxFlex.xs="100" fxFlex="80" fxFlex.lg="70" fxFlex.xl="70" [streetName]="propertyDetails?.Adres" [postalNumber]="propertyDetails?.Postcode" [place]="propertyDetails?.Plaats"
        [price]="propertyDetails?.KoopPrijs" [priceAbbrivation]="propertyDetails?.Prijs.KoopAbbreviation">
      </app-details-header>
      </div>

      <!-- Carousel for mobile view -->
      <app-carousel fxHide.xs="false" fxHide.sm="false" fxHide="true" [media]="mediaMediumImages"></app-carousel>
      
    <div fxLayout="row" fxLayoutAlign="center">
      <app-gallery fxHide.xs="true" fxHide.sm="true" fxFlex="80" fxFlex.lg="70" fxFlex.xl="70" [images]="mediaLargeImages"></app-gallery>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
      <app-details-section fxLayout="row" fxFlex.xs="100" fxFlex="80" fxFlex.lg="70" fxFlex.xl="70" [text]="propertyDetails?.VolledigeOmschrijving"></app-details-section>
    </div>
    <div fxLayout="row" fxLayoutAlign="center">
        <app-offer-details fxFlex="80" fxFlex.lg="70" fxFlex.xl="70" [details]="propertyDetails?.Kenmerken" [shortDetails]="propertyDetails?.KenmerkenKort"></app-offer-details>
    </div>
  </div>
  <app-gmap [markerTitle]="propertyDetails?.Adres" [iconUrl]="'assets/icons/marker.png'" [lat]="lat" [lng]="lng"></app-gmap>
</div>

<app-error-message [errorMessage]="errorMessage"></app-error-message>

<footer fxLayout="column" fxLayoutAlign="space-between center">
    <p>Implemented by: Milan Janjevic</p>
    <p>Contact information: <a href="mailto:someone@example.com">
    milanjanjevic@gmail.com</a>.</p>
</footer>
