<div *ngIf="!errorMessage">
  
  <app-details-header [streetName]="propertyDetails?.Adres" [postalNumber]="propertyDetails?.Postcode" [place]="propertyDetails?.Plaats"
    [price]="propertyDetails?.KoopPrijs" [priceAbbrivation]="propertyDetails?.Prijs.KoopAbbreviation">
  </app-details-header>
  
  <!-- Carousel for mobile view -->
  <app-carousel fxHide.xs="false" fxHide="true" [media]="mediaMediumImages"></app-carousel>
  
  <!-- Image collage for desktop view -->
  <div fxLayout fxLayoutAlign="center">
    <app-gallery fxHide.xs="true" fxFlex="80" [images]="mediaLargeImages"></app-gallery>
  </div>
  
  <app-gmap [markerTitle]="propertyDetails?.Adres" [iconUrl]="'assets/icons/marker.png'" [lat]="lat" [lng]="lng"></app-gmap>

</div>

<app-error-message [errorMessage]="errorMessage"></app-error-message>