/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Montserrat); 
html, body{
    margin: 0;
    padding: 0;
}
*{
    font-family: 'Montserrat', sans-serif;
}
// Media queries for standard devices

@media (min-width: 320px) {}

@media (min-width: 481px) {}

@media (min-width: 641px) {}

@media (min-width: 961px) {}

@media (min-width: 1025px) {}

@media (min-width: 1281px) {}